body {
  background: #e7e7e7;
  color: #252627;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 100px 0px 100px;
}

@media screen and (max-width: 800px) {
  .page {
    padding: 50px 50px 0px 50px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding: 20px 20px 0px 20px;
  }
}

.header {
  display: block;
  vertical-align: middle;
}

.logo__heading {
  vertical-align: baseline;
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

h1.logo__heading a:link, 
h1.logo__heading a:visited,
h1.logo__heading a:hover,
h1.logo__heading a:active {
  text-decoration: none;
  color: #252627 !important;
}

.logo__description {
  vertical-align: baseline;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  margin-left: 7px;
}

.posts {
  margin-top: 80px;
}

.post {
  margin-bottom: 100px;
}

.post p {
  font-family: 'Domine', serif;
  line-height: 1.78em;
  margin: 24px 0;
}

.post h1 {
  font-size: 2em;
}

.post h1 a:link, 
.post h1 a:visited,
.post h1 a:hover,
.post h1 a:active {
  text-decoration: none;
  color: #252627 !important;
}

.post pre {
  margin: 0;
  padding: 0;
}

.post pre code {
  border-radius: 4px;
  font-family: 'Source Code Pro', monospace;
}


